.poke-option {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 0 5px 3em;
  border-radius: 12px;
  align-items: center;
  gap: 12px;
  position: relative;
}

.option-selected {
  background: linear-gradient(
    90deg,
    #ff4425,
    #ff8c3a
  );
}

.container-list {
  height: 560px;
  max-height: calc(420px * 9);
  width: 130%;
  overflow-y: auto;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}


@media (max-width: 868px) and (orientation: landscape) {
  :host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .container-list {
    flex: 1;
    height: 100%;
    max-height: 100%;
    width: 100%;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .poke-option {
    padding: 3px 0 3px 2em;
    font-size: 0.8em;
    min-height: 35px;
  }
}

.container-list::-webkit-scrollbar {
  width: 10px;
}

.container-list::-webkit-scrollbar-thumb {
  background-color: #e9563d;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px #882a1a;
  background-clip: padding-box;
}

.container-list::-webkit-scrollbar-track {
  border: solid #90ace7 2px;
  background: repeating-linear-gradient(
    0deg,
    #276d83,
    #276d83 5px,
    #1c4760 7px 9px
  );
}

.arrow-icon-active {
  position: absolute;
  left: 6px;
  top: 20px;
  width: 20px;
  height: 20px;
}

.arrow-icon-inative {
  display: none;
}

