<div class="container-list">
  <ul>
    <div id="poke-option">
      <app-pokedex-pokemon-option></app-pokedex-pokemon-option>
    </div>
    <div id="poke-option">
      <app-pokedex-pokemon-option></app-pokedex-pokemon-option>
    </div>
    <div id="poke-option">
      <app-pokedex-pokemon-option></app-pokedex-pokemon-option>
    </div>
    <div id="poke-option">
      <app-pokedex-pokemon-option></app-pokedex-pokemon-option>
    </div>
    <div id="poke-option">
      <app-pokedex-pokemon-option></app-pokedex-pokemon-option>
    </div>
    <div id="poke-option">
      <app-pokedex-pokemon-option></app-pokedex-pokemon-option>
    </div>
    <div id="poke-option">
      <app-pokedex-pokemon-option></app-pokedex-pokemon-option>
    </div>
    <div id="poke-option">
      <app-pokedex-pokemon-option></app-pokedex-pokemon-option>
    </div>
  </ul>
</div>
