<div id="poke-container">
  <div id="poke-ball-container">
    <img id="pokeball-img" src="/images/pokeball selected.png" alt="">
    <img id="pokemon-img" src="images/bulbasaur.png" alt="">
  </div>
  <div id="info-container">
    <div class="text-container">
      <p>Bulbasaur</p>
      <p>Lv3</p>
    </div>

    <div id="container-hp">
      <div id="background-hp">
        <p id="hp-text">HP</p>
        <div id="hp"></div>
      </div>
      <p>13 / 13</p>
    </div>

    <div class="text-container">
      <img class="up" src="/images/up.png" alt="">
      <img class="down" src="/images/down.png" alt="">
    </div>
  </div>
</div>
