#checkbox {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #dacd9c;
  margin-left: 0.5em;
}

.option-selected {
  background-color: #f49545 !important;
  -webkit-box-shadow: inset 0px 0px 7px 4px #fceab8;
  -moz-box-shadow: inset 0px 0px 7px 4px #fceab8;
  box-shadow: inset 0 0 7px 4px #fceab8;
}

#container-pokemon-option {
  width: 98%;
  background-color: #faeab2;
  height: 4em;
  border-radius: 70px 8px 8px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

