:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: block;
}

#github-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header {
  width: 100%;
  height: 5em;
  background-color: #7594e9;
  display: flex;
  align-items: center;
  justify-content: center;

  #container-title{
    background-color: #0e94c9;
    border: 2px solid #0ec3c9;
    padding: 0 0.5em;
    border-radius: 3em;
    display: flex;
    align-items: center;
    flex-direction: row;

    img {
      max-height: 50px;
      max-width: 50px;
    }

    h2 {
      margin-left: 0.5em;
      margin-right: 0.5em;
      -webkit-text-stroke: 0.2px #000000;
      color: white;
      font-weight: bold;
      font-size: 2.5em;
    }
  }
}

main {
  flex: 1;
  display: block;
  overflow: hidden;
}

footer {
  width: 100%;
  height: 4em;
  background-color: #7594e9;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.footer-content {
  width: 100%;
  padding: 0 1.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-center {
  flex: 1;
  justify-content: center;
}

.footer-right {
  gap: 1.2em;
}

.footer-left img {
  width: 50px;
  height: 50px;
}

footer p {
  margin: 0;
  color: white;
  font-size: 1em;
}

.key {
  background-color: #6f6b65;
  color: white;
  font-weight: bold;

  height: 2em;
  padding: 0 0.9em;
  border-radius: 0.35em;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.key--space {
  min-width: 4.8em;
}

.shortcut {
  display: flex;
  align-items: center;
  gap: 0.5em;
}


.orientation-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}




.orientation-warning-content {
  text-align: center;
  color: white;
  padding: 2em;
  max-width: 90%;
  box-sizing: border-box;
}

.orientation-icon {
  font-size: 4em;
  margin-bottom: 1em;
  animation: rotate 2s ease-in-out infinite;
  display: inline-block;
}

@keyframes rotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
}

.orientation-warning-content h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
  color: white;
  margin-top: 0;
}

.orientation-warning-content p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #cccccc;
  margin: 0;
}

@media (max-width: 868px) and (orientation: landscape) {
  :host {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  header {
    display: none !important;
  }

  main {
    flex: 1 1 auto;
    overflow: hidden;
    min-height: 0;
    max-height: calc(100vh - 3em);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 3em);
    width: 100%;
    box-sizing: border-box;
  }

  footer {
    height: 3em;
    min-height: 3em;
    max-height: 3em;
    flex-shrink: 0;

    .footer-content {
      padding: 0 0.5em;
    }

    .footer-left {
      img {
        width: 30px;
        height: 30px;
      }

      p {
        font-size: 0.75em;
      }
    }

    .footer-right {
      gap: 0.5em;

      .shortcut {
        p {
          font-size: 0.7em;
          display: none; 
        }
      }
    }

    .key {
      height: 1.5em;
      padding: 0 0.5em;
      font-size: 0.75em;
    }

    .key--space {
      min-width: 3em;
    }
  }
}
