:host {
  display: block;
  width: 100%;
  height: 100%;
}

#background{
  min-height: calc(95.4vh - 103px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #79a0e3, #79a0e3 3%, #668cd7 4% 12%, #79a0e3 13% 14%, #5576c5 15% 20%, #79a0e3 21% 23%, #4c69b8 25% 28%, #79a0e3 30% 35%, #4660b4 36% 38%, #79a0e3 40% 60%, #668cd7 64% 78%, #79a0e3 79% 80%, #5576c5 81% 86%, #79a0e3 87% 89%, #4c69b8 91% 94%, #79a0e3 96% 97%, #4660b4 98% 99%, #79a0e3);
}

#info-container {
  position: absolute;
  left: 0;
  z-index: 9;
}

.container{
  width: min(1200px, 96vw);
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
}


@media (max-width: 868px) and (orientation: landscape) {
  :host {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
  }
  
  #background {
    height: 100%;
    min-height: 0;
    max-height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    gap: 0.2em;
    grid-template-columns: 1.2fr 1fr;
    align-items: stretch;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0.2em;
  }
  
  
  app-pokedex-screen {
    display: flex !important;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0.1em;
    box-sizing: border-box;
  }
  
  app-pokemon-list {
    display: flex !important;
    flex-direction: column;
    overflow: hidden;
    min-height: 0;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #info-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    max-height: 100%;
    width: auto;
  }
}