#container-pokemon {
  border: 4px solid #8cbbf1;
  outline: 12px solid #f8e55c;
  max-width: 800px;
  aspect-ratio: 1.5;
  border-radius: 25px;
  background: repeating-linear-gradient(to bottom, #f5f7f9, #f5f7f9 15px, #c9e2f4 15px 25px);
  position: relative;
  z-index: 10;
  
  img {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 380px;
    height: 400px;
    image-rendering: pixelated;
  }
}

#container-logo {
  width: 400px !important;
  height: 400px !important;
}
