:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container-pokemon {
  border: 4px solid #8cbbf1;
  outline: 12px solid #f8e55c;
  max-width: 800px;
  width: 600px;
  aspect-ratio: 1.5;
  border-radius: 25px;
  background: repeating-linear-gradient(
    to bottom,
    #f5f7f9,
    #f5f7f9 15px,
    #c9e2f4 15px 25px
  );
  position: relative;
  z-index: 12;

  transform: translate3d(0, 0, 0) scale(1);
  transform-origin: center center;

  transition: transform 420ms cubic-bezier(.2, .9, .2, 1.15);

  img {
    display: block;
    margin: auto;
    padding-top: 20px;
    width: 380px;
    height: 400px;
    image-rendering: pixelated;
  }
}


.container-pokemon.is-opened {
  transform: translate3d(-5vh, 3vh, 0) scale(1.1);
}


@media (max-width: 868px) and (orientation: landscape) {
  :host {
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
    display: flex !important;
    align-items: center;
    justify-content: center;
    min-height: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container-pokemon {
    width: 80%;
    max-width: 100%;
    max-height: 100%;
    height: 80%;
    aspect-ratio: unset;
    border-width: 3px;
    outline-width: 8px;
    box-sizing: border-box;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;

    img {
      width: 50vh;
      height: 50vh;
      max-width: calc(100% - 20px);
      max-height: calc(100% - 20px);
      padding-top: 0;
      object-fit: contain;
      display: block;
    }
  }

  .container-pokemon.is-opened {
    transform: translate3d(-1vh, 0, 0) scale(1.01);
    max-height: 100%;
  }

  #container-logo {
    width: auto !important;
    height: auto !important;
    max-width: calc(100% - 30px) !important;
    max-height: calc(100% - 30px) !important;
  }
}



#container-logo {
  width: 400px !important;
  height: 400px !important;
}
