#background {
    background-color: #216a63 !important;
    width: 100%;
    height: 81.2vh;
    z-index: -5;
    display: flex;
    justify-content: right;
}

#background-list {
    width: 1200px;
    aspect-ratio: 1.5;
    margin-top: 1.5em;
    border-radius: 60px 0 0 0;
    background: repeating-linear-gradient(to bottom, #49A2A0, #48A09E 8px, #38908E 8px 15px);
    position: relative;
    z-index: 12;
    transform: translate3d(0, 0, 0) scale(1);
    transform-origin: center center;
    transition: transform 500ms cubic-bezier(0.2, 0.9, 0.2, 1.15);
}