* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  background-color: #216a63;
  width: 100%;
  height: 81.2vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5em 0;
}

#principal-container {
  width: 260px;
  background: #e53935;
  border-radius: 20px 20px 28px 28px;
  padding: 14px;
  box-shadow: 0 10px 20px rgba(0,0,0,.45);
  position: relative;
}

#background-list {
  width: 1050px;
  aspect-ratio: 1.5;
  margin-top: 1.5em;
  border-radius: 60px 0 0 0;
  background: repeating-linear-gradient(
    to bottom,
    #49a2a0,
    #48a09e 8px,
    #38908e 8px 15px
  );
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-left: 15vw;
  z-index: 12;

  transform: translate3d(0, 0, 0);
  transition: transform 500ms cubic-bezier(0.2, 0.9, 0.2, 1.15);
}