@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}
