@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}


body:has(.orientation-warning) {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}


@media (max-width: 768px) and (orientation: landscape) {
  html, body {
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }

  body {
    touch-action: pan-y;
  }


  .container-list {
    touch-action: pan-y !important;
    -webkit-overflow-scrolling: touch !important;
  }
}
