<div id="screen-container">
  <div class="top-lights">
    <span></span>
    <span></span>
  </div>

  <div class="screen-frame">
    <div class="screen">
      <img class="scene-img" src="images/scene.jpg" alt="Fundo">
      <img class="info-img" src="images/bulbasaur.png" alt="Bulbasaur">
    </div>
  </div>


  <div class="bottom">
      <div class="big-button"></div>

      <div class="grill">
      <span></span>
      <span></span>
      <span></span>
      </div>
  </div>


  <div class="info-title">
    <p id="p-title">Chikorita</p>
    <p id="p-level">Lvl. 32</p>
  </div>
  <hr color="#082c79">
  <div class="info-description">
    <p id="p-description">Chikorita é um pequeno Pokémon do tipo Planta, conhecido por sua personalidade dócil, cor verde-claro e uma grande folha no topo da cabeça que exala um aroma doce e relaxante.</p>
  </div>
  <div class="info-types">
    <p id="p-type">Grass</p>
    <p id="p-type">Grass</p>
  </div>
  <div class="info-life">
    <p id="p-life">HP 13/13</p>
  </div>
</div>
