.top-lights {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
}

.top-lights span {
  width: 7px;
  height: 7px;
  background: #1c33b7;
  border-radius: 50%;
}

.screen-frame {
  background: #f3f3f3;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 14px;
}

.screen {
  position: relative;
  background: #2a1b1b;
  border-radius: 6px;
  overflow: hidden;
  height: 245px;
}

.screen .scene-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scene-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-button {
  width: 24px;
  height: 24px;
  background: #1661c4;
  border-radius: 50%;
  box-shadow: inset 0 0 4px rgba(0,0,0,.6);
}

.grill {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#screen-container {
  width: 450px;
  height: 530px;
  background: #35ade5;
  border-radius: 20px 20px 28px 28px;
  padding: 14px;
  box-shadow: 0 10px 20px rgba(0,0,0,.45);
  position: relativ e;
  margin-left: 2vw;
  margin-top: 1.5vh;
}

.grill span {
  width: 36px;
  height: 4px;
  background: #082c79;
  border-radius: 2px;
}

.info-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-top: -3vh;
  margin-bottom: 1vh;
}

#p-title {

}

#p-level {

}

.info-description {
  margin-top: 1vh;
  background-color: #1c263b93;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  border-radius: 16px;
}

.screen .info-img {
  position: absolute;
  left: 70%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 2;

  width: 350px;
  height: auto;

  image-rendering: pixelated;
}

#p-description {
  padding: 1vh;
}

.info-life {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: white;
  margin-top: 1vh;
  font-weight: 500;
}

.info-types {
  display: flex;
  gap: 8px;
  justify-content: center;
  text-align: center;
}

#p-type {
  width: 15%;
  margin-top: 1vh;
  border-radius: 16px;
  background-color: rgb(104, 196, 12);
  color: white;
}

#p-life {

}
